.git
.github
.idea
.scratch
.vs
.vscode
artifacts
TestResults
android-native
docs
scripts
tests

src/Markstash.ApiClient
src/Markstash.App
src/Markstash.Application
src/Markstash.Desktop
src/Markstash.Domain
src/Markstash.Infrastructure

**/bin
**/obj
*.binlog
*.user
*.suo
*.userprefs
